[Unit]
Description=vdirsyncer: Synchronize CalDAV and CardDAV
After=network-online.target

[Service]
Type=oneshot
Environment="CONF=/home/phenyl/.config/vdirsyncer/config"
ExecStart=/usr/bin/vdirsyncer -c $CONF sync
ExecStartPost=/usr/bin/vdirsyncer -c $CONF metasync

[Install]
WantedBy=vdirsyncer.timer

