*background:	#272827
*color0:	#0C090A
*color1:	#8C001A
*color10:	#4CC417
*color11:	#FBB117
*color12:	#3BB9FF
*color13:	#E3319D
*color14:	#00D1D1
*color15:	#F9FAF9
*color2:	#41A317
*color3:	#C68E17
*color4:	#000080
*color5:	#7D1B7E
*color6:	#00CCCC
*color7:	#B6B6B4
*color8:	#848482
*color9:	#F62817
*cursorColor:	#16A085
*fadeColor:	black
*fading:	15
*foreground:	#B6B6B4
*pointerColorBackground:	#2B2C2B
*pointerColorForeground:	#16A085
URxvt*background:	black
URxvt*cursorBlink:	true
URxvt*foreground:	#c6c6c6
URxvt*mouseWheelScrollPage:	false
URxvt*saveLines:	5000
URxvt*scrollBar:	false
URxvt.background:	[100]#1f1f1f
URxvt.depth:	0
URxvt.font:	xft:DejaVuSansMono:size=12
URxvt.letterSpace:	-1
URxvt.perl-ext-common:	...,font-size
XTerm*background:	#2b2b2b
XTerm*faceName:	Fixed
XTerm*faceSize:	12
XTerm*foreground:	#e7e7e7
XTerm*pointerColor:	#16A085
XTerm*reverseVideo:	on
XTerm*selectToClipboard:	true
Xcursor.size:	0
Xcursor.theme:	Adwaita
Xft.antialias:	true
Xft.autohint:	false
Xft.dpi:	96
Xft.hinting:	true
Xft.hintstyle:	hintslight
Xft.lcdfilter:	lcddefault
Xft.rgba:	rgb
