[Unit]
Description=vdirsyncer: Synchronize CalDAV and CardDAV
After=network.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target

